[submodule "cwsw_lib"]
	path = cwsw_lib
	url = git@github.com:kbecker0619/cwsw_lib.git
[submodule "cwsw_eventqueue"]
	path = cwsw_eventqueue
	url = git@github.com:kbecker0619/cwsw_eventqueue.git
[submodule "cwsw_board"]
	path = cwsw_board
	url = git@github.com:kbecker0619/cwsw_board.git
[submodule "cwsw_arch"]
	path = cwsw_arch
	url = git@github.com:kbecker0619/cwsw_arch.git
[submodule "cwsw_clock_services"]
	path = cwsw_clock_services
	url = git@github.com:kbecker0619/cwsw_clock_services.git
[submodule "cwsw_sme"]
	path = cwsw_sme
	url = git@github.com:kbecker0619/cwsw_sme.git
