[submodule "cwsw_eventqueue"]
	path = test/libs/cwsw_eventqueue
	url = git@github.com:kbecker0619/cwsw_eventqueue.git
[submodule "test/libs/cwsw_lib"]
	path = test/libs/cwsw_lib
	url = git@github.com:kbecker0619/cwsw_lib.git
[submodule "component"]
	path = component
	url = git@github.com:kbecker0619/cwsw_clock_services.git
